# Custom Client ID and Secret
# Copy this file as .env and set your ID and secret here

NUXT_APP_CLIENT_SECRET=your_client_secret_here
NUXT_APP_CLIENT_ID=your_client_id_here
NUXT_SESSION_PASSWORD=your_session_password_here
